html{
	  max-width: 1150px;
	  height: 1500px;
}

body {
    background-image: url("../images/buffalohoth.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

h1{
	text-align: center;
}
img{
	max-height: 100px;
	max-width:  100px;
}

.card-block{
	margin-top: 30px;
}

.thumbnail{
	width: 250px;
	background-color: white;
}

#startbutton{
	align-content: center;
	margin-top: 15px;
}

#thearena{
	background-color: red;
	height: 300px;
}
